/*
 * Estilos de tu proyecto
 */
* {
  box-sizing: border-box;
}

 header {
   position:fixed;
 }

a {
  color:white;
  text-decoration: none;
  padding:5px;
}

a:hover {
  background-color: #0DB1FF;
}

.nav-menu {
  padding-top: 10px;
  height: 40px;
  background-color: #2c3e50;
}

.name-boostrap {
  color:white;
  font-family: 'Hind Guntur', sans-serif;
}

.text {
  font-family: 'Hind Guntur', sans-serif;
  color:white;
}

.text-caps {
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 700;
  margin:0 auto;
}

.profile-back {
  background-color: #0DB1FF;
  padding-top: 80px;
  padding-bottom: 20px;
}

.text-emphasize {
  font-family: 'Hind Guntur', sans-serif;
  color:white;
  font-size: 40px;
  margin:0 auto;
}
.content-center {
  text-align: center;
}
/*profile´s styles end*/

/*portafolio´s styles*/
.portfolio-back {
  background-color: #ffffff;
}

.text-portfolio {
  font-family: 'Hind Guntur', sans-serif;
  color:black;
  font-size: 40px;
  font-weight: bold;
  margin:0 auto;
}
